@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode (default) */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* Dark Mode (applies when .dark class is added) */
.dark {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.3s, color 0.3s;
}